@font-face {
    font-family: MorebiRounded;
    src: url(/assets/fonts/MorebiRounded-Regular.ttf);
}
@font-face {
    font-family: SFProDisplay-Bold;
    src: url(/assets/fonts/SFProDisplay-Bold.ttf);
}
@font-face {
    font-family: SFProDisplay-Light;
    src: url(/assets/fonts/SFProDisplay-Light.ttf);
}
@font-face {
    font-family: SFProDisplay-Medium;
    src: url(/assets/fonts/SFProDisplay-Medium.ttf);
}
@font-face {
    font-family: SFProDisplay-Regular;
    src: url(/assets/fonts/SFProDisplay-Regular.ttf);
}
/* Main Styles*/
body,html{
    margin: 0;
}
h1{
    margin:0;
}







/* Navigation*/

.wrapper{
    width:1590px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}
header{
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
}

.main_nav img{
    width: 75px;
    height: 60px;
}
.main_nav{
    display:flex;
    justify-content: space-between;
    padding: 44px 0px;
}

.socials_inner{
    display: none!important;
}

.animated_menu{
    width:100%;
    left: 0;
    position:fixed;
    transition: all .5s ease;
    background: rgba(21, 21, 21, 0.7);
box-shadow: 0px 4px 12px rgba(75, 90, 94, 0.11);
}



/*Menu Burger*/
.menu-btn {
    width: 190px;
    height: 50px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.menu-btn p{
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4DE845;
    transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 10px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 10px);
}


.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Menu will be after click*/
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
    background: #000000;
	transform: translateX(-100%);
	transition: transform 0.5s; 
    display: flex;
    flex-direction: column;
}

.menu.active {
	transform: translateX(0);

}

.menu li {
	list-style-type: none;
}





.menu_inner{
    display:flex;

}
.menu_item{
    margin:0 auto;
}
.menu_item h4{
    font-family: MorebiRounded;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 130%;
/* or 22px */

display: flex;
align-items: center;

color: #323234;;
}
.menu_item p{
    font-family: MorebiRounded;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 130%;
/* or 22px */

display: flex;
align-items: center;

color: #FFFFFF;
}
.menu img{
    margin:0 auto;
}













/* Main Screen */
.main_screen_bg{
    background: linear-gradient(180deg, rgba(5, 11, 30, 0.4) 5.9%, rgba(5, 11, 30, 0) 56.01%);
mix-blend-mode: multiply;
z-index: 3;
}
.main_screen:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    background: linear-gradient(180deg, rgba(5, 11, 30, 0.4) 5.9%, rgba(5, 11, 30, 0) 56.01%);
mix-blend-mode: multiply;
z-index: 3;
}
.main_screen{
    background-image: url(/assets/images/mainScreen.jpg);
    height: 1300px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;

}
.main_screen_items {
    width: 1120px;
    height: 443px;
    display: flex;
    flex-direction: column;
}
.main_screen_items h1{
    font-family: MorebiRounded;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 112%;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0px;

}
.main_screen_buttons{
    display: flex;
    margin: 0 auto;
    width: 68%;
    justify-content: space-between;
    margin-top: 5.3%;
    z-index: 4;
}
.main_screen_buttons a{
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #A2F21E;
    box-sizing: border-box;
    box-shadow: 0px 8px 20px rgb(162 170 192 / 20%);
    border-radius: 48px;
    font-family: SFProDisplay-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 132%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    padding: 30px 104px;
    margin: 0 auto;
    transition: all .7s ease-in-out;
}
.main_screen_buttons a:hover{
    background: rgb(0 0 0);
    border: 1px solid #A2F21E;
    box-shadow: 0px 8px 20px rgb(121 125 138);
}
/*What we do Screen*/
.what_we_do_content{
    background-color: #323234;
    display: flex;
    flex-direction: column;
    padding: 8% 0px 13%;
}
.what_we_do_mainText{
    margin: 0 auto;
    width: 772px;
}
.what_we_do_mainText h2{
    font-family: MorebiRounded;
    font-style: normal;
    font-weight: normal;
    font-size: 69px;
    line-height: 191%;
    text-align: center;
    color: #FFFFFF;

    margin: 0;
}

.what_we_do_mainText p{
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 39px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.imageWithText_Items{
    display: flex;
    flex-direction: column;
    margin-top: 160px;
}
.image_Item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image_Item img{
    width: 795px;
}
.imageWithText_Items .text_Item{
    width: 612px;
    height: 378px;

    margin-top: 77px;
}

.imageWithText_Items .text_Item h3{ 
    font-family: MorebiRounded;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 130%;
    display: flex;
    align-items: flex-end;
    color: #A2F81D;
    position: relative;
}
.imageWithText_Items .text_Item h3:after{
    content: ' ';
    background-image: url(/assets/images/line.png);
    position: absolute;
    width: 911px;
    padding: 19px;
    left: -49%;
    background-repeat: no-repeat;
    background-size: 102%;
    bottom: -37px;
}

.imageWithText_Items .text_Item h4{
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 71%;
    margin-top: 51px;
}

.imageWithText_Items :first-child{
    margin:0!important;
}

.imageWithText_Items .image_Item{
    margin-top:85px;
}






.imageWithText_Items :nth-child(2n){
    flex-direction: row-reverse;

}
.imageWithText_Items :nth-child(2n) .text_Item{
    margin-left: 140px;
    margin-top: 91px;
    width: 729px;
}
.imageWithText_Items :nth-child(2n) .text_Item h3:after{
    transform: rotate(180deg);
    left: -20%;
}

.imageWithText_Items :nth-child(3n){
    margin-top:99px;
}




/*Benefits section*/


.benefits_section{
    background-image: url("/assets/images/BenefitsBackground.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -308px;
    height: 1721px;
    z-index: 1;
}

.benefits_items{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 0;
    align-items: flex-end;
}


.benefit_item {
    width: 22%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

    .benefit_item img{
        width: 81%;
        height: 160px;
    }
.benefit_item h3{
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 122%;
    text-align: center;
    margin: 24px 0px;
    color: #FFFFFF;
}

.benefit_item p{
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -14px;
}
.benefits_section .wrapper :nth-child(2n){
    margin-top:6%;
}


/*Slider*/
.slider_inner{
    background-image: url("/assets/images/slider.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -308px;
    height: 1300px;
    z-index: 0;
}
.slider_inner:before{
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0000003d;
    mix-blend-mode: normal;
    z-index: 0;
}

.slider_inner .wrapper{
    display: flex;
    flex-direction: column;
    width: 1300px;
    margin-top: 100px;
}

.bx-wrapper{
    border:none!important;
    background:transparent!important;
    box-shadow: none!important;
}
.bx-viewport{
    height:700px!important;
}

.slider_inner .slider h2{
    font-family: MorebiRounded;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}
.slider_inner .slider span{
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;
    
    text-align: center;
    
    color: #63ED3B;
}
.slider_inner .slider p{
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;
    
    text-align: center;
    
    color: #FFFFFF;
}
.slider_inner .just_slide img{
width:9%;
}
.slider_inner .just_slide{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.bx-pager-link{
    background: #ffffffa9;
    text-indent: -9999px;
    display: block;
    width: 16px!important;
    height: 16px!important;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 20px!important;
    transition: width 0.3s ease-out 0.3s;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background: #61EC3C!important;
    width: 40px!important;
    height: 16px;
  
}
.bx-wrapper .bx-pager.bx-default-pager a{

    text-indent: -9999px;
    display: block;
    width: 40px;
    height: 16px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 20px!important;
}




/*global_reach section*/
.global_reach_section{
    background-image: url("/assets/images/global.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1400px;
    z-index: 0;
    width: 100%;
}
.global_reach_section .global_item h2{
    font-family: MorebiRounded;
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0;
}
.global_reach_section .global_item p{
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 140%;
    color: #FFFFFF;
}
.global_reach_section .global_item span{
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 140%;
    color: #01acca; 
}
.global_reach_section .global_item{
    width: 515px;
    margin-top: -179px;
}

.name_with_logo{
    display:flex;
    align-items: center;
}



/*Contact us Section*/
.contact_section{
    background: #0F1218;
    padding: 220px 0px;
}
.contact_section .contact_section_inner{
display: flex;
justify-content: space-between;
}

.contact_section_inner .left_side h2{
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 76px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0;
}

.contact_section_inner .left_side{
width: 650px;
}

.contact_section_inner .left_side .text{
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 140%;
    color: #FFFFFF;
}

.contact_section_inner .left_side span{
    font-family: MorebiRounded;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 140%;
color: #61EC3C;
}
.contact_section_inner .left_side li{
    font-family: MorebiRounded;
    list-style-type:none;
    margin:20px 0px;
    color:#FFFFFF;
    font-size: 25px;
    line-height: 140%;
}
.contact_section_inner .left_side ul{
    margin-left:15px;
}
.contact_section_inner .left_side ul :first-child:before{
    background-image: url("/assets/images/ico/email_icon.png");
    content: "";
    padding: 0px;
    background-repeat: no-repeat;
    position: relative;
    height: 26px;
    width: 38px;
    background-size: contain;
    display: block;
    left: -49px;
    top: 35px;
}
.contact_section_inner .left_side ul :nth-child(2n):before{
    background-image: url("/assets/images/ico/en_icopng.png");
    content: "";
    padding: 0px;
    background-repeat: no-repeat;
    position: relative;
    height: 26px;
    width: 38px;
    background-size: contain;
    display: block;
    left: -49px;
    top: 35px;
}
.contact_section_inner .left_side ul :nth-child(3n):before{
    background-image: url("/assets/images/ico/us_ico.png");
    content: "";
    padding: 0px;
    background-repeat: no-repeat;
    position: relative;
    height: 26px;
    width: 38px;
    background-size: contain;
    display: block;
    left: -49px;
    top: 35px;
}
.contact_section_inner .right_side{
    display: flex;
    flex-direction: column;
    margin-top: -69px;
}

.contact_section_inner .right_side input{
    background: #323234;
    border-radius: 18px;
    width: 750px;
    height: 69px;
    margin: 12px 0px;
    font-size: 20px;
    padding: 10px;
}
.contact_section_inner .right_side input ::placeholder{
    position: relative;
    top:0px;
}
.contact_section_inner .right_side :nth-child(4n){
    height: 130px;
}

.contact_section_inner .right_side .Attach{
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 132%;
    align-items: center;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: 45px;
}
.contact_section_inner .right_side .Attach:before{
    background-image: url("/assets/images/ico/File_icon.svg");
    content: "";
    padding: 0px;
    background-repeat: no-repeat;
    position: relative;
    height: 35px;
    width: 38px;
    background-size: contain;
    display: block;
    left: -37px;
    top: 35px;}
.contact_section_inner .right_side .get_btn{
    font-family: SFProDisplay-Light;
    background: linear-gradient(95.67deg, #A2F71E -31.66%, #3DE74C 70.81%);
    border-radius: 52.5px;
    width: 380px;

    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    margin-top:30px;
    height: 90px;
    transition: all .7s ease-in-out;
}
.contact_section_inner .right_side .get_btn:hover{
    background: linear-gradient(95.67deg, #96fa00 -31.66%, #00fa15 70.81%);
    width:400px;
    color:white
}



/*footer*/

footer{
    background: #000000;
height: 400px;
}

.footer_inner{
    display:flex;

}
.footer_item{
    margin:0 auto;
}
.footer_item h4{
    font-family: MorebiRounded;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 130%;
/* or 22px */

display: flex;
align-items: center;

color: #323234;
}
.footer_item p{
    font-family: MorebiRounded;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 130%;
/* or 22px */

display: flex;
align-items: center;

color: #FFFFFF;
}

.copy{
    font-family: MorebiRounded;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 130%;
/* or 13px */

display: flex;
align-items: center;

color: #A1F421;
}
.invisible{
    display:none;
}

.socials_inner h2{
    font-family: MorebiRounded;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    color:#FFFFFF 
}
.socials_inner p{
    font-family: MorebiRounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color:#FFFFFF 
}
.socials_inner .social_item {
    display:flex;
    align-items: center;
}
.socials_inner .social_item img{
    width:30px;
    height:30px;
    margin-right:15px;
}

/*Adaptive Screen*/
@media screen and (min-width:320px) and (max-width:768px){
    .main_screen_buttons{
        flex-direction: column;
    }
    .main_screen_buttons a{
        margin: 20px 0px;
        padding: 0px 60px;
        height: 50px;
        font-size:15px;
    }
    .wrapper{
        width:100%;
    }
    .main_screen_items h1{
        font-size:45px;
    }
    .main_screen{
height: 700px;
        background-size: auto;
        background-position-y: -178px;
        background-position-x: -481px;

    }
    .what_we_do_mainText{
        width:100%;
    }
    .what_we_do_mainText h2 {
    font-size:45px;
    }
    .what_we_do_mainText p{
        font-size:30px;
    }
    .image_Item{
        display: flex;
    align-items: unset;
    flex-direction: column;
    }
    .image_Item img{
        width:100%;
    }
    .imageWithText_Items .text_Item{
        width: 100%;
    height: 378px;
    margin-top: 77px;
    }
    .imageWithText_Items .text_Item h3 {
        font-size: 30px;

}
.imageWithText_Items .text_Item h4 {
font-size: 20px;
width:98%;
}
.imageWithText_Items .text_Item h3:after{
    content: ' ';
    background-image: url(/assets/images/line.png);
    position: absolute;
    width: 65px;
    padding: 37px;
    left: -21%;
    background-repeat: no-repeat;
    background-size: 128%;
    bottom: 81px;
    transform: rotate( 90deg);
}
.imageWithText_Items :nth-child(2n) .text_Item{
    margin: 0px;
margin-top:50px;
   width:95%;
}
.imageWithText_Items :nth-child(2n){
    flex-direction: column;
}
.imageWithText_Items :nth-child(2n) .text_Item h3:after {
    transform: rotate(90deg);
    left: 55%;
}
.imageWithText_Items :nth-child(2n) .text_Item h3{
    justify-content: flex-end;
}
.imageWithText_Items :nth-child(2n) .text_Item h4{
    text-align: end;
}
.benefits_section{
    margin-top: -456px;
    height: 2500px;
}
.benefits_section .wrapper{
    margin-top:350px;
}
.invisible{
    display:flex;
}
.benefits_items{
    flex-direction: column;
}
.benefit_item h3{
    font-size:25px;
}
.benefit_item p{
    font-size:15px;
}
.benefit_item {
    width: 50%;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.slider_inner .slider h2 {
    font-size: 25px;
}
.slider_inner .slider p {
font-size:15px;
}
.slider_inner .slider span {
    font-size:15px;
    }
    .bx-viewport{
        height:400px!important;
    }
    .slider_inner {
        background-image: url(/assets/images/slider.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: -308px;
        height: 1000px;
        z-index: 0;
        background-position-x: -500px;
    }
    .global_reach_section{

    height: 600px!important;
    background-size: auto!important;
    background-position-x: -200px;
}
    .global_reach_section .global_item{
        margin:0;
        width:100%;
    }
    .global_reach_section .global_item h2{
        font-size:45px;
    }
    .global_reach_section .global_item p {
font-size:20px;
    }
    .global_reach_section .global_item span{
        font-size:20px;
    }
    .global_reach_section{
        background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    height: 1400px;
    z-index: 0;
    width: 100%;
    }
    .name_with_logo img{
        margin-right:20px;
        width:40px;
        height:40px;
    }
    .name_with_logo p{
        font-size:20px!important;
        font-weight: 100!important;
    }
    .name_with_logo span{
        font-size:20px!important;
        font-weight: 600!important;
        color: white!important;
    }
    .contact_section .contact_section_inner{
        flex-direction: column;
    }
    .contact_section_inner .left_side{
        width:100%;
        margin-bottom: 50px;
    }
    .contact_section{
    padding: 140px 0px;
    }
    .contact_section_inner .left_side .text {
        font-family: SFProDisplay-Light;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;
        color: #FFFFFF;
    }
    .contact_section_inner .left_side span{
        display:none;
    }
    .contact_section_inner .left_side li {
        font-size: 17px;
    }
    .contact_section_inner .right_side{
        display: flex;
        flex-direction: column;
       margin:0;
        align-items: center;
    }
    .contact_section_inner .right_side input {
        background: #323234;
        border-radius: 18px;
        width: 92%;
        height: 32px;
        margin: 7px 0px;
        font-size: 20px;
        padding: 10px;
    }
    .contact_section_inner .right_side .get_btn {
        font-family: SFProDisplay-Light;
        background: linear-gradient(
    95.67deg, #A2F71E -31.66%, #3DE74C 70.81%);
        border-radius: 52.5px;
        width: 100%;
        color: black;
        text-decoration: none;
        text-align: center;
        font-size: 35px;
        margin-top: 30px;
        height: 63px;
        transition: all .7s ease-in-out;
    }
    .footer_item{
        display:none;
    }
    footer .wrapper{
        align-items: center;
    }
    .menu_item{
        display: none;
    }
    .menu_mobile {
        display: flex;
        flex-direction: column;

        margin: 30% auto;
    }
    .menu_mobile h2{
        font-family: MorebiRounded;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 0%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}























@media screen and (min-width:768px) and (max-width:1024px){
    .main_screen_buttons{
        flex-direction: column;
        width:22%;
    }
    .main_screen_buttons a{
        margin: 20px 0px;
        padding: 0px 60px;
        height: 50px;
        font-size:15px;
    }
    .wrapper{
        width:100%;
    }
    .main_screen_items h1{
        font-size:50px;
    }
    .main_screen{
height: 700px;
        background-size: auto;
        background-position-y: -178px;


    }
    .what_we_do_mainText{
        width:100%;
    }
    .what_we_do_mainText h2 {
    font-size:50px;
    }
    .what_we_do_mainText p{
        font-size:35px;
    }
    .image_Item{
        display: flex;
    align-items: unset;
    flex-direction: column;
    }
    .image_Item img{
        width:100%;
    }
    .imageWithText_Items .text_Item{
        width: 100%;
    height: 378px;
    margin-top: 77px;
    }
    .imageWithText_Items .text_Item h3 {
        font-size: 50px;

}
.imageWithText_Items .text_Item h4 {
font-size: 30px;
width:98%;
}
.imageWithText_Items .text_Item h3:after{
display: none;
}
.imageWithText_Items :nth-child(2n) .text_Item{
    margin: 0px;
margin-top:50px;
   width:95%;
}
.imageWithText_Items :nth-child(2n){
    flex-direction: column;
}
.imageWithText_Items :nth-child(2n) .text_Item h3:after {
    display: none;
}
.imageWithText_Items :nth-child(2n) .text_Item h3{
    justify-content: flex-end;
}
.imageWithText_Items :nth-child(2n) .text_Item h4{
    text-align: end;
}
.benefits_section{
    margin-top: -600px;
    height: 3000px;
}
.benefits_section .wrapper{
    margin-top:350px;
}
.invisible{
    display:flex;
}
.benefits_items{
    flex-direction: column;
}
.benefit_item h3{
    font-size:45px;
}
.benefit_item p{
    font-size:25px;
}
.benefit_item {
    width: 50%;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.slider_inner .slider h2 {
    font-size: 25px;
}
.slider_inner .slider p {
font-size:15px;
}
.slider_inner .slider span {
    font-size:15px;
    }
    .bx-viewport{
        height:400px!important;
    }
    .slider_inner {
        background-image: url(/assets/images/slider.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: -308px;
        height: 1000px;
        z-index: 0;
        background-position-x: -500px;
    }
    .global_reach_section{

    height: 600px!important;
    background-size: auto!important;
    background-position-x: 0px;
}
.global_reach_section .wrapper{
    margin:auto;
}
    .global_reach_section .global_item{
        margin: auto;
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .global_reach_section .global_item h2{
        font-size:65px;
    }
    .global_reach_section .global_item p {
font-size:30px;
    }
    .global_reach_section .global_item span{
        font-size:30px;
    }
    .global_reach_section{
        background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    height: 1400px;
    z-index: 0;
    width: 100%;
    }
    .name_with_logo img{
        margin-right:20px;
        width:40px;
        height:40px;
    }
    .name_with_logo p{
        font-size:20px!important;
        font-weight: 100!important;
    }
    .name_with_logo span{
        font-size:20px!important;
        font-weight: 600!important;
        color: white!important;
    }
    .contact_section .contact_section_inner{
        flex-direction: column;
    }
    .contact_section_inner .left_side{
        width:100%;
        margin-bottom: 50px;
    }
    .contact_section{
    padding: 140px 0px;
    }
    .contact_section_inner .left_side .text {
        font-family: SFProDisplay-Light;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;
        color: #FFFFFF;
    }
    .contact_section_inner .left_side span{
        display:none;
    }
    .contact_section_inner .left_side li {
        font-size: 17px;
    }
    .contact_section_inner .right_side{
        display: flex;
        flex-direction: column;
       margin:0;
        align-items: center;
    }
    .contact_section_inner .right_side input {
        background: #323234;
        border-radius: 18px;
        width: 92%;
        height: 32px;
        margin: 7px 0px;
        font-size: 20px;
        padding: 10px;
    }
    .contact_section_inner .right_side .get_btn {
        font-family: SFProDisplay-Light;
        background: linear-gradient(
    95.67deg, #A2F71E -31.66%, #3DE74C 70.81%);
        border-radius: 52.5px;
        width: 100%;
        color: black;
        text-decoration: none;
        text-align: center;
        font-size: 35px;
        margin-top: 30px;
        height: 63px;
        transition: all .7s ease-in-out;
    }
    .footer_item{
        display:none;
    }
    footer .wrapper{
        align-items: center;
    }
    .menu_item{
        display: none;
    }
    .menu_mobile {
        display: flex;
        flex-direction: column;

        margin: 30% auto;
    }
    .menu_mobile h2{
        font-family: MorebiRounded;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 0%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

@media screen and (min-width:1024px) and (max-width:1665px){
    .main_screen_buttons{
        flex-direction: column;
        width:22%;
    }
    .main_screen_buttons a{
        margin: 20px 0px;
        padding: 0px 60px;
        height: 50px;
        font-size:15px;
    }
    .wrapper{
        width:100%;
    }
    .main_screen_items h1{
        font-size:50px;
    }
    .main_screen{
height: 700px;
        background-position-y: -295px;


    }
    .what_we_do_mainText{
        width:100%;
    }
    .what_we_do_mainText h2 {
    font-size:50px;
    }
    .what_we_do_mainText p{
        font-size:35px;
    }
    .image_Item{
        display: flex;
    align-items: unset;
    flex-direction: column;
    }
    .image_Item img{
        width:100%;
    }
    .imageWithText_Items .text_Item{
        width: 100%;
    height: 378px;
    margin-top: 77px;
    }
    .imageWithText_Items .text_Item h3 {
        font-size: 50px;

}
.imageWithText_Items .text_Item h4 {
font-size: 30px;
width:98%;
}
.imageWithText_Items .text_Item h3:after{
display: none;
}
.imageWithText_Items :nth-child(2n) .text_Item{
    margin: 0px;
margin-top:50px;
   width:95%;
}
.imageWithText_Items :nth-child(2n){
    flex-direction: column;
}
.imageWithText_Items :nth-child(2n) .text_Item h3:after {
    display: none;
}
.imageWithText_Items :nth-child(2n) .text_Item h3{
    justify-content: flex-end;
}
.imageWithText_Items :nth-child(2n) .text_Item h4{
    text-align: end;
}
.benefits_section{
    margin-top: -615px;
    height: 3400px;
}
.benefits_section .wrapper{
    margin-top:350px;
}
.invisible{
    display:flex;
}
.benefits_items{
    flex-direction: column;
}
.benefit_item h3{
    font-size:45px;
}
.benefit_item p{
    font-size:25px;
}
.benefit_item {
    width: 50%;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.slider_inner .slider h2 {
    font-size: 25px;
}
.slider_inner .slider p {
font-size:15px;
}
.slider_inner .slider span {
    font-size:15px;
    }
    .bx-viewport{
        height:400px!important;
    }
    .slider_inner {
        background-image: url(/assets/images/slider.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: -308px;
        height: 1000px;
        z-index: 0;
        background-position-x: 0px;
    }
    .global_reach_section{

    height: 600px!important;
    background-size: cover!important;
    background-position-x: 0px;
}
.global_reach_section .wrapper{
    margin:auto;
}
    .global_reach_section .global_item{
        margin: auto;
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .global_reach_section .global_item h2{
        font-size:65px;
    }
    .global_reach_section .global_item p {
font-size:30px;
    }
    .global_reach_section .global_item span{
        font-size:30px;
    }
    .global_reach_section{
        background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    height: 1400px;
    z-index: 0;
    width: 100%;
    }
    .name_with_logo img{
        margin-right:20px;
        width:40px;
        height:40px;
    }
    .name_with_logo p{
        font-size:20px!important;
        font-weight: 100!important;
    }
    .name_with_logo span{
        font-size:20px!important;
        font-weight: 600!important;
        color: white!important;
    }
    .contact_section .contact_section_inner{
        flex-direction: column;
    }
    .contact_section_inner .left_side{
        width:100%;
        margin-bottom: 50px;
    }
    .contact_section{
    padding: 140px 0px;
    }
    .contact_section_inner .left_side .text {
        font-family: SFProDisplay-Light;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;
        color: #FFFFFF;
    }
    .contact_section_inner .left_side span{
        display:none;
    }
    .contact_section_inner .left_side li {
        font-size: 17px;
    }
    .contact_section_inner .right_side{
        display: flex;
        flex-direction: column;
       margin:0;
        align-items: center;
    }
    .contact_section_inner .right_side input {
        background: #323234;
        border-radius: 18px;
        width: 92%;
        height: 32px;
        margin: 7px 0px;
        font-size: 20px;
        padding: 10px;
    }
    .contact_section_inner .right_side .get_btn {
        font-family: SFProDisplay-Light;
        background: linear-gradient(
    95.67deg, #A2F71E -31.66%, #3DE74C 70.81%);
        border-radius: 52.5px;
        width: 100%;
        color: black;
        text-decoration: none;
        text-align: center;
        font-size: 35px;
        margin-top: 30px;
        height: 63px;
        transition: all .7s ease-in-out;
    }
    .footer_item{
        display:none;
    }
    footer .wrapper{
        align-items: center;
    }
    .menu_item{
        display: none;
    }
    .menu_mobile {
        display: flex;
        flex-direction: column;

        margin: 30% auto;
    }
    .menu_mobile h2{
        font-family: MorebiRounded;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 0%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .socials_inner{
        display: flex!important;
        flex-direction: column;
    }
}